.cabecalho__tarja {
    text-align: center;
    background-color: var(--cor-amarelo);
    box-shadow: 0px 15px 6px 0px rgba(0, 0, 0, 0.20);
}

.tarja__texto {
    color: var(--cor-branco);
    font-weight: var(--montserrat-bold);
    font-size: 13px;
    padding: .4rem;
}

.menu__lista {
    display: flex;
    align-items: center;
    padding: 3rem 7rem;
}

.lista__link {
    font-family: var(--fonte-krona);
    color: var(--cor-branco);
    font-size: 16px;
    margin-right: 2.5rem;
}

.lista__link:hover {
    color: var(--cor-amarelo);
    transition: .5s ease;
}

.lista__divisoria {
    background-color: var(--cor-amarelo);
    width: 0.25rem;
    height: 2.2rem;
    margin-right: 2.5rem;
    border-radius: 50px;
}

.button__projetcs{
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--cor-amarelo);
    color: var(--cor-amarelo);
    border-radius: 50px;
    padding: .5rem 1rem;
    position: relative;
    overflow: hidden;
}

.button__projetcs span{
    font-family: var(--fonte-krona);
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.button__projetcs:hover {
    color: var(--cor-branco);
    transition: .5s ease;
}

.button__projetcs::before{
    content: '';
    background-color: var(--cor-amarelo);
    width: 0;
    height: 0;
    position: absolute;
    top: var(--eixoY);
    left: var(--eixoX);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    transition: width .5s, height .5s;
}

.button__projetcs:hover::before{
    width: 220px;
    height: 220px;
}