.container__principal {
    height: 100vh;
    display: flex;
    padding: 1.2rem 7rem;
    align-items: flex-start;
    justify-content: space-between;
    
    /* BACKGROUND TECNOLOGY */
    background-image: url(../imgs/Tecnology1.png);
    background-repeat: no-repeat;
    background-size: 60rem 20rem;
    background-position-y: 14.5rem;
}

.texto__principal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.texto__principal-subTitulo {
    font-weight: var(--montserrat-extraBold);
    text-shadow: -9px 9px 10px rgba(0, 0, 0, 0.25);
    font-size: 50px;
    display: flex;
    gap: 1rem;
}

.texto__principal-titulo {
    font-weight: var(--montserrat-extraBold);
    text-shadow: -9px 9px 10px rgba(0, 0, 0, 0.25);
    font-size: 80px;
    color: var(--cor-amarelo);
    display: flex;
}

.frase {
    display: flex;
}

.letra:hover, .letra2:hover {
    cursor: default ;
    transition: all .4s ease;
    transform: scale(1.2) rotate(-15deg);
}

.letra:hover {
    color: var(--cor-amarelo);
}

.letra2:hover {
    color: var(--cor-branco);
}

.texto__principal-texto {
    font-weight: var(--montserrat-medium);
    font-size: 16px;
    cursor: default;
}

.texto__principal-texto:hover {
    transform: scale(1.05);
    transition: .4s ease;
}

.imagem__grupo {
    width: 22rem;
}